/AgendaDiarioSurEE-ejb/build/
/AgendaDiarioSurEE-ejb/dist/
/AgendaDiarioSurEE-war/build/
/build/
/nbproject/private/
/AgendaDiarioSurEE-war/dist/
/AgendaDiarioSurEE-ejb/nbproject/private/
/AgendaDiarioSurEE-war/nbproject/private/
/dist/