/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-abr-2017, 16:27:45
    Author     : Daryl
*/

.ui-fileupload-buttonbar .ui-fileupload-upload {
    display: none;
}
/*
.ui-fileupload-buttonbar .ui-fileupload-cancel {
    display: none;
}
*/