
/*restet*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
/*body {
    line-height: 1;
}*/
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.compraEvento {
     margin: 0px 20px 20px 0px;
}

.estiloFondo {
    background: #FFFFFF;
    border-collapse: separate;
    border-spacing: 10px 10px;
    border-style: solid;
    border-color: #ffffff #ffffff;
    color: white;
}

.estiloTexto {    
    color:#000000; 
}

.botonCompra {
     margin: 0px 20px 0px 10px;
}
/*end reset*/
body {
    background: #eeeae7;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

a{
    text-decoration: none;
    color:rgb(190,18,25);
}
.compraEventoDatos{
   margin: 5px 0px 5px 0px;
}
.radiolabelPF {
  margin-left: 5px;  
}

.agenda{
    font-size: 42px;
    font-weight:bolder;

}

.cabecera {
    background-color: rgb(255, 255, 255);
    padding:15px;
    padding-bottom: 5px;
    /*border-radius: 10px;*/
    width: 1072px;
    margin: auto;
    color:rgb(190,18,25);

}

.barra{
    background-color: black;
    padding: 8px;
}

.barra_content{
    width: 70em;
    margin: auto;
    color: rgb(190, 18, 25);
    font-size: 15px;
}

.barra_content a{
    color:white;
}

.barra_content2{
    float:right; 
    color:white;
}

.barra_content2 a{
    color:rgb(240, 13, 5);
}

form{
    display: inline;
}
.sesion{
    float:right;
    display: inline;
}

.center_content{
    background-color:  white;
    padding:30px;
    width: 1042px; 
    margin: auto;
}
.subtitulo{
    font-weight: bold;
    font-size: 30px;
    color: #D20A11;
    text-transform: uppercase;
    border-bottom-color: rgb(157, 167, 167);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.caption{
    font-size:20pt;
}

.publicidad{
    margin:0px;
}


.imagen_grande{
    width: 400px;
    height: 300px;    
}

.imagen_pequena{
    width:292px;
    height:219px;
}

.imagen_mediana{
    width: 360.5px;
    height: 270px;
}
/*wrapper1*/
.wrapper_destacados1{
    padding:5px;
    height: 300px;
    padding-bottom:0px;
}

.foto1{
    float:left;
}

.descripcion1{
    float:left;
    height: 300px;
    width: 395px;
    margin-right: 5px;
}

.foto2{
    float:left;
    margin:0px;
    height:219px;
}

.descripcion2{
    float:right;
    color:black;
    width: 292px;
    height: 81px;
    margin: 0px;
}

/* wrapper2*/

.foto3{
    float:left;
    height:219px;
}

.descripcion3{
    float:left;
    width: 292px;
    height: 81px;
    margin: 0px;
}

.descripcion4{
    float:right;
    height: 300px;
    width: 395px;
    text-align:right;
}

.foto4{
    float:right;
}

/*wrapper3*/

.wrapper_destacados2{
    padding:5px;
    height: 270px;
    padding-bottom:0;
    margin-bottom:0;
}

.foto5{
    float:left;
    padding-right: 5px;
    height:270px;
}
.foto6{
    float:left;
    padding:0px;
    height:270px;
}

.descripcion5{
    float:left;
    width: 360.5px;
    height: 81px;
    margin-right:5px;
}

.descripcion6{
    float:left;
    width: 360.5px;
    height: 81px;
}

.descripcion1 , .descripcion2 , .descripcion3 , .descripcion4 , .descripcion5 , .descripcion6{
    background-color: black;
    color:white;
}

.descripcion1 a , .descripcion4 a{
    text-transform: uppercase;
    font-size: 50px;
    color:white;
    font-family: Heroic,'Arial Narrow';
    font-weight: bold;
}

.a_descripcion1{
    margin: 30px;
    margin-left:15px;
}

.a_descripcion4{
    margin:30px;
    margin-right:15px;
}

.descripcion2 a , .descripcion3 a , .descripcion5 a , .descripcion6 a{
    font-family: 'Roboto', sans-serif;
    color: white;
}

.a_descripcion2 , .a_descripcion3 , .a_descripcion5 , .a_descripcion6{
    margin:15px;
}

.wrapper_destacados3{
    padding:5px;
    height: 81px;
    margin-top:0;
    padding-top:0;
}

.wrapper_caption{
    font-family: 'Barrio', cursive;
    font-size: 30px;
    text-align:center;
    padding:40px;
}

/*footer*/

.footer{
    color: white;
    background-color:black;
    width: 1072px;
    height: 90px;
    margin:auto;
    padding: 15px;
    text-align:center;
    position: relative;
    font-size: 15px;
}

.social{
    float:right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.footer_text{
    position:absolute;
    bottom: 0;
    margin: auto;
    right: 50%;
    transform: translateX(50%);
    width: 500px;
    padding-bottom: 15px;
}

.minilogo{
    position:absolute;
    bottom: 0;
    margin: auto;
    right: 50%;
    transform: translateX(50%);
    width: 500px;
    padding-bottom: 35px;
 
}

/*pagina busqueda*/

.busc_evento_wrapper{
    background-color: #191921;
    position:relative;
    height:210px;
    margin-top: 10px;
    margin-bottom:15px;
    padding:5px;
    color:white;
}

.busc_evento_nombre{
    float:left;
    font-family: Heroic,'Arial Narrow';
    font-size:50px;
    text-transform: uppercase;
    font-weight: bold;
    padding:5px;
    margin-right:100px;
    width: 400px;
}

.busc_evento_imagen{
    float:left;
    padding:5px;
}

.busc_evento_fecha{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:15%;
    width:100px;
    border-left: solid grey;
    padding:10px;
}

.busc_evento_fecha_titulo{
    font-family: Heroic,'Arial Narrow'; 
    font-size: 30px; 
    color: #d20a11;
}

.busc_evento_descripcion{
    float:left;
    width:300px;
    margin-left:5px;
}

.busc_evento_botones{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
}
.wrapper_busqueda td{
    width:1000px;
}


/*pagina_evento*/

.evento_nombre{
    width: 400px;
    font-family: Heroic,'Arial Narrow'; 
    font-size: 70px; 
    font-weight: bold;
    float:left;
    text-transform:uppercase;
    padding-top: 20px;
    height: 460px;
    
}

.evento_imagen{
    padding-top: 15px;
    float:right;
    
}

.ui-galleria{
    width: 100%;
    
}

.evento_descripcion{
    float:left;
    margin-top:10px;
    width:700px;
    padding-bottom: 10px;
    border-bottom-color: rgb(157, 167, 167);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.evento_contenido{
    width:700px;
    position: relative;
}

.evento_fechas_precio_botones{
    position:relative;
}

.evento_fechas{
    width:150px;
    border-right: solid grey;
    border-width: 1px;
    padding:10px;
    float:left;
    margin-bottom:10px;
    
}

.evento_precio{
    float: left;
    width:100px;
    height:132px;
    padding:10px;
    border-right: solid grey;
    border-width: 1px;
}

.evento_botones{
    /*margin-left: 400px;*/
    float:left;
    width:100px;
    padding:15px;
    padding-left:30px;
    z-index: 99;
}

.evento_mapa{
    
    padding-top:10px;
    width:700px;
    /*background-color: aquamarine;*/
}

.evento_comentarios{
    margin-top:15px;
    width:700px;
    border-top: solid gray;
    
    border-bottom: solid gray;
    border-width: 1px;
}

.evento_comentarios_comment{
    color: white;
    background-color: rgb(25, 25, 33);
    padding: 15px;
    margin: 15px;
}

.evento_comentarios_comment_autor{
    font-size: 20px;
    text-transform: uppercase;
}
